@import "./global.scss";

html,
body,
#root {
  font-family: var(--unnamed-font-family-proxima-nova) !important;
  margin: 0 !important;
  min-height: 100vh;
}

.global-form {
  .global-submit-btn {
    font: var(--unnamed-font-style-normal) normal bold
      var(--unnamed-font-size-13) / var(--unnamed-line-spacing-19)
      var(--unnamed-font-family-proxima-nova);
    width: 130px !important;
    height: 35px !important;
    background: transparent linear-gradient(180deg, #7be495 0%, #329d9c 100%) 0%
      0% no-repeat padding-box !important;
    box-shadow: 0px 12px 18px #26245a0d !important;
    border-radius: 15px !important;
    opacity: 1;
    border-color: transparent !important;
    text-transform: uppercase;
    &:hover {
      background: transparent linear-gradient(180deg, #329d9c 0%, #7be495 100%)
        0% 0% no-repeat padding-box !important;
    }
    &:disabled {
      font: var(--unnamed-font-style-normal) normal bold
        var(--unnamed-font-size-13) / var(--unnamed-line-spacing-19)
        var(--unnamed-font-family-proxima-nova);
      letter-spacing: var(--unnamed-character-spacing-0);
      color: var(--universal-white-ffffff);
      text-align: center;
      opacity: 1;
      cursor: not-allowed !important;
      pointer-events: auto !important;
    }
  }
  .global-cancel-btn {
    margin-left: 10px;
    font: var(--unnamed-font-style-normal) normal bold
      var(--unnamed-font-size-13) / var(--unnamed-line-spacing-19)
      var(--unnamed-font-family-proxima-nova);
    width: 130px !important;
    height: 35px !important;
    background: #dae0e4 0% 0% no-repeat padding-box;
    box-shadow: 0px 12px 18px #26245a0d !important;
    border-radius: 15px !important;
    opacity: 1;
    border-color: transparent !important;
    text-transform: uppercase;
    &:hover {
      background: #dae0e4 0% 0% no-repeat padding-box;
    }
  }
  .global-info-btn {
    margin-left: 10px;
    font: var(--unnamed-font-style-normal) normal bold
      var(--unnamed-font-size-13) / var(--unnamed-line-spacing-19)
      var(--unnamed-font-family-proxima-nova);
    width: 130px !important;
    height: 35px !important;
    background: var(--info-17a2b8) 0% 0% no-repeat padding-box;
    box-shadow: 0px 12px 18px #26245a0d !important;
    border-radius: 15px !important;
    opacity: 1;
    border-color: transparent !important;
    text-transform: uppercase;
    &:hover {
      background: var(--info-17a2b8) 0% 0% no-repeat padding-box;
    }
  }
  .global-filter-btn {
    border-radius: 0 !important;
    height: 38px !important;
    width: 100% !important;
  }
  .global-filter-reset-btn {
    border-radius: 0 !important;
    height: 38px !important;
    width: 100% !important;
  }
  .save-icon {
    font: var(--unnamed-font-style-normal) normal bold
      var(--unnamed-font-size-13) / var(--unnamed-line-spacing-19)
      var(--unnamed-font-family-proxima-nova);
    width: 35px !important;
    height: 35px !important;
    background: transparent linear-gradient(180deg, #7be495 0%, #329d9c 100%) 0%
      0% no-repeat padding-box !important;
    box-shadow: 0px 12px 18px #26245a0d !important;
    border-radius: 2px !important;
    opacity: 1;
    border-color: transparent !important;
    text-transform: uppercase;
    &:hover {
      background: transparent linear-gradient(180deg, #329d9c 0%, #7be495 100%)
        0% 0% no-repeat padding-box !important;
    }
    &:disabled {
      font: var(--unnamed-font-style-normal) normal bold
        var(--unnamed-font-size-13) / var(--unnamed-line-spacing-19)
        var(--unnamed-font-family-proxima-nova);
      letter-spacing: var(--unnamed-character-spacing-0);
      color: var(--universal-white-ffffff);
      text-align: center;
      opacity: 1;
      cursor: not-allowed !important;
      pointer-events: auto !important;
    }
  }
  .cancel-icon {
    margin-left: 10px;
    font: var(--unnamed-font-style-normal) normal bold
      var(--unnamed-font-size-13) / var(--unnamed-line-spacing-19)
      var(--unnamed-font-family-proxima-nova);
    width: 35px !important;
    height: 35px !important;
    background: #dae0e4 0% 0% no-repeat padding-box;
    box-shadow: 0px 12px 18px #26245a0d !important;
    border-radius: 2px !important;
    opacity: 1;
    border-color: transparent !important;
    text-transform: uppercase;
    color: #000;
    &:hover {
      background: #dae0e4 0% 0% no-repeat padding-box;
    }
  }
  .global-input {
    height: 38px;
    background: var(--universal-white-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    opacity: 1;
    font: var(--unnamed-font-style-normal) normal normal
      var(--unnamed-font-size-14) / var(--unnamed-line-spacing-24)
      var(--unnamed-font-family-proxima-nova);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: #868d96;
    .MuiOutlinedInput-input {
      padding: 9.5px 14px;
      font: var(--unnamed-font-style-normal) normal normal
        var(--unnamed-font-size-14) / var(--unnamed-line-spacing-24)
        var(--unnamed-font-family-proxima-nova);
      letter-spacing: var(--unnamed-character-spacing-0);
      color: #868d96;
    }
    .MuiOutlinedInput-root {
      border-radius: 0;
    }
    .MuiInputBase-input {
      &:focus {
        border: 1px solid #a6cbf3;
        padding: 8.5px 13px;
      }
    }
    .MuiInputBase-root {
      &:hover {
        border: none;
      }
    }
    .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
      border: none !important;
    }
    .MuiInputBase-inputAdornedStart {
      &:focus {
        border: none;
        padding: 9.5px 14px;
      }
    }
  }
  .action-form-input {
    .MuiOutlinedInput-input {
      padding: 10px 14px !important;
    }
    .MuiInputBase-input {
      &:focus {
        padding: 9px 13px !important;
      }
    }
  }
  .global-input-multiline {
    height: 67px;
    .MuiOutlinedInput-multiline {
      padding: 0;
    }
  }
  .autocomplete-select {
    height: auto;
    .MuiOutlinedInput-multiline {
      padding: 0;
    }
    .MuiAutocomplete-inputRoot {
      padding: 0;
    }
    .MuiInputBase-input {
      &:focus {
        border: 1px solid #a6cbf3;
        padding: 9px 4.5px !important;
      }
    }
  }
  .select-label {
    font: var(--unnamed-font-style-normal) normal normal
      var(--unnamed-font-size-14) / var(--unnamed-line-spacing-24)
      var(--unnamed-font-family-proxima-nova);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: #868d96;
    top: -12px;
  }
  .single-select {
    .MuiInputBase-input {
      &:focus {
        border: 1px solid #a6cbf3;
        padding: 6px 14px;
      }
    }
  }
  .row-icons-container {
    display: inline-flex;
    align-items: center;
  }
  .add-row-icon {
    color: #17a2b8;
    cursor: pointer;
  }
  .delete-row-icon {
    color: #de1b54;
    cursor: pointer;
  }
  .dynamic-rows-bottom {
    margin-bottom: 10px;
  }
  .dynamic-rows-bottom-question {
    margin-bottom: 20px;
  }
  .MuiFormHelperText-root.Mui-error {
    margin-left: 0;
    color: var(--danger-de1b54);
  }
  .error-message-select {
    color: var(--danger-de1b54);
  }
  .error-msg {
    color: var(--danger-de1b54);
  }
  .fileuploadcontainer {
    margin-bottom: 10px;
    display: inline-flex;
    justify-content: center;
    width: 100%;
  }
  .MuiOutlinedInput-adornedStart {
    padding-left: 5px;
    .adornment-input {
      font-size: 12px;
      min-width: 23px;
    }
  }
}

.ToasterContainer {
  .toastermessagelistconatiner {
    list-style-type: none;
    padding: 0px !important;
    margin: 0;
  }

  .MuiAlert-icon {
    display: none !important;
  }

  .MuiAlert-action {
    display: none !important;
  }

  .MuiAlert-standardError {
    background: #f8d7da 0% 0% no-repeat padding-box;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
    opacity: 1;

    .MuiAlertTitle-root {
      font: var(--unnamed-font-style-normal) normal bold
        var(--unnamed-font-size-16) / var(--unnamed-line-spacing-29)
        var(--unnamed-font-family-proxima-nova);
      letter-spacing: var(--unnamed-character-spacing-0);
      color: var(--danger-de1b54);
      text-align: left;
      margin-bottom: 0;
    }

    .toastermessage {
      display: flex;
      align-items: center;
      font: var(--unnamed-font-style-normal) normal normal
        var(--unnamed-font-size-13) / var(--unnamed-line-spacing-24)
        var(--unnamed-font-family-proxima-nova);
      letter-spacing: var(--unnamed-character-spacing-0);
      color: var(--danger-de1b54);
      text-align: left;
    }
  }

  .MuiAlert-standardSuccess {
    background: #d4edda 0% 0% no-repeat padding-box;
    border: 1px solid #c3e6cb;
    border-radius: 4px;
    opacity: 1;

    .MuiAlertTitle-root {
      font: var(--unnamed-font-style-normal) normal bold
        var(--unnamed-font-size-16) / var(--unnamed-line-spacing-29)
        var(--unnamed-font-family-proxima-nova);
      letter-spacing: var(--unnamed-character-spacing-0);
      text-align: left;
      color: #155724;
      margin-bottom: 0;
    }

    .toastermessage {
      display: flex;
      align-items: center;
      font: var(--unnamed-font-style-normal) normal normal
        var(--unnamed-font-size-13) / var(--unnamed-line-spacing-24)
        var(--unnamed-font-family-proxima-nova);
      letter-spacing: var(--unnamed-character-spacing-0);
      text-align: left;
      color: #155724;
    }
  }
}

.global-breadcrumb {
  height: 40px;
  display: inline-flex;
  margin-bottom: 15px !important;
  .inactive {
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--primary-26235d);
    font-size: var(--unnamed-font-size-14);
  }
  .active {
    letter-spacing: var(--unnamed-character-spacing-0);
    color: #868e96;
    font-size: var(--unnamed-font-size-14);
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}

.global-table {
  font-family: var(--unnamed-font-family-proxima-nova) !important;
  th:last-child,
  td:last-child {
    text-align: center;
  }
  .update-icon-with-text {
    min-width: 110px;
    border-radius: 25px;
    margin: 5px 8px;
    height: 30px;
    min-height: 25px;
    width: 110px;
    padding: 6px 13px;
    color: #fff;
    background: var(--primary-26235d) 0% 0% no-repeat padding-box;
    &:hover {
      background: var(--primary-26235d) 0% 0% no-repeat padding-box;
    }
    .MuiButton-startIcon {
      margin: 0 5px 0 0;
      .MuiSvgIcon-root {
        font-size: 13px;
        color: #fff;
      }
    }
  }
  thead {
    th {
      background: var(--universal-white-ffffff) 0% 0% no-repeat padding-box;
      font: var(--unnamed-font-style-normal) normal bold
        var(--unnamed-font-size-14) var(--unnamed-font-family-proxima-nova);
      letter-spacing: var(--unnamed-character-spacing-0);
      color: var(--universal-black-000000);
      padding: 3px 5px;
      button {
        font: var(--unnamed-font-style-normal) normal bold
          var(--unnamed-font-size-14) var(--unnamed-font-family-proxima-nova);
        color: var(--universal-black-000000);
        &:hover {
          background-color: transparent;
        }
      }
    }
    tr {
      border-top: 1px solid #dde1e6;
    }
  }
  tbody {
    td {
      font: var(--unnamed-font-style-normal) normal var(--unnamed-font-size-14)
        var(--unnamed-font-family-proxima-nova);
      letter-spacing: var(--unnamed-character-spacing-0);
      color: var(--universal-black-000000);
      padding: 5px;
      border-bottom: 1px solid #dde1e6;
    }
    tr:nth-child(odd) {
      background-color: #ebebeb;
    }
  }
  .action-buttons-container {
    button {
      min-width: 20px;
      border-radius: 25px;
      margin: 5px 8px;
      height: 26px;
      min-height: 25px;
      width: 20px;
      padding: 6px 13px;
      .MuiButton-startIcon {
        margin: 0;
        .MuiSvgIcon-root {
          font-size: 13px;
          color: #fff;
        }
      }
    }
    .view-icon {
      background: var(--primary-26235d) 0% 0% no-repeat padding-box;
    }
    .edit-icon {
      background: var(--info-17a2b8) 0% 0% no-repeat padding-box;
    }
    .HiddenButton {
      visibility: hidden;
    }
    .delete-icon {
      background: var(--danger-de1b54) 0% 0% no-repeat padding-box;
    }
    .more-icon {
      background: var(--dark-343a40) 0% 0% no-repeat padding-box;
    }
  }
}

.innerpage-container {
  .main-paper {
    margin-top: 12px;
    border-radius: 0;
    padding: 0 30px;
  }
  .import-user-paper {
    padding: 15px 30px !important;
  }
  .main-paper-add-question {
    padding: 0;
  }
}

label.required {
  &::after {
    content: " *";
    color: var(--danger-de1b54);
  }
}

.maingrid-actions {
  display: inline-flex;
  justify-content: flex-end;
  width: auto;
  button {
    min-width: 20px;
    border-radius: 25px;
    margin: 5px 8px;
    height: 26px;
    min-height: 25px;
    width: 20px;
    padding: 6px 13px;
    .MuiButton-startIcon {
      margin: 0;
      .MuiSvgIcon-root {
        font-size: 13px;
        color: #fff;
      }
    }
  }
  .add-icon {
    background: var(--primary-26235d) 0% 0% no-repeat padding-box;
    &:hover {
      background: var(--primary-26235d) 0% 0% no-repeat padding-box;
    }
  }
}

.global-dialog {
  .MuiDialog-paper {
    background: var(--universal-white-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid #00000033;
    border-radius: 4px;
    opacity: 1;
    margin: 0;
  }
  .MuiDialogTitle-root {
    padding: 10px;
    .MuiTypography-root {
      font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-medium) var(--unnamed-font-size-14)
        var(--unnamed-font-family-proxima-nova) !important;
      letter-spacing: var(--unnamed-character-spacing-0);
      text-align: left;
      letter-spacing: 0px;
      color: #1b1e21;
      text-transform: uppercase;
      opacity: 1;
    }
    .MuiIconButton-root {
      top: 0;
      right: 0;
      padding: 8px;
    }
  }
}

.confirmation-dialog {
  .yes-button {
    background: var(--primary-26235d) 0% 0% no-repeat padding-box;
    border-radius: 20px;
    opacity: 1;
    color: #fff !important;
    padding: 4px 8px;
    font-size: 12px;
    &:hover {
      background: var(--primary-26235d) 0% 0% no-repeat padding-box;
    }
  }
  .no-button {
    background: var(--info-17a2b8) 0% 0% no-repeat padding-box;
    border-radius: 20px;
    opacity: 1;
    color: #fff;
    padding: 4px 8px;
    font-size: 12px;
    &:hover {
      background: var(--info-17a2b8) 0% 0% no-repeat padding-box;
    }
  }
}

.covid-state-modal {
  .MuiDialog-paper {
    width: 400px;
  }
}

.inner-tabs {
  .MuiAppBar-root {
    color: #fff;
    height: 48px !important;
    .MuiTabs-flexContainer {
      button {
        color: #fff;
      }
    }
  }
  .MuiBox-root {
    padding: 0;
  }
  .MuiToolbar-regular {
    min-height: 48px !important;
  }
  th:last-child,
  td:last-child {
    text-align: left !important;
  }
  tbody {
    td {
      padding: 10px !important;
    }
  }
}

.inner-table-buttons {
  display: inline-flex;
  justify-content: flex-end;
  margin-top: 10px !important;
}

.table-wo-action {
  th:last-child,
  td:last-child {
    text-align: left !important;
  }
}

.inline-form {
  .MuiGrid-grid-xs-4 {
    margin-bottom: 20px;
  }
  .MuiGrid-grid-sm-4 {
    margin-bottom: 20px;
  }
}

.full-width-grid {
  width: 100%;
}

.add-location-dialog {
  .MuiDialog-paper {
    min-width: 500px !important;
  }
  .global-input {
    height: 37px !important;
  }
}

.view-faq {
  .view-faq-paper {
    padding: 10px;
  }
  .main-paper {
    padding: 0 12px !important;
  }
  .faq-title {
    border-bottom: 1px solid #f5f5f5;
  }
  .edit-icon-faq {
    background: var(--info-17a2b8) 0% 0% no-repeat padding-box;
    min-width: 25px !important;
    padding: 2px 4px 2px 6px !important;
    border-radius: 2px !important;
    margin-left: 7px;
    color: #fff;
    .MuiButton-startIcon {
      margin-right: 0 !important;
    }
    .MuiSvgIcon-root {
      height: 15px !important;
      width: 15px !important;
    }
    &:hover {
      background: var(--info-17a2b8) 0% 0% no-repeat padding-box;
      color: #fff;
    }
  }
  .create-icon-faq {
    background: var(--primary-26235d) 0% 0% no-repeat padding-box;
    min-width: 25px !important;
    padding: 2px 4px 2px 6px !important;
    border-radius: 2px !important;
    margin-left: 7px;
    color: #fff;
    .MuiButton-startIcon {
      margin-right: 0 !important;
    }
    .MuiSvgIcon-root {
      height: 15px !important;
      width: 15px !important;
    }
    &:hover {
      background: var(--primary-26235d) 0% 0% no-repeat padding-box;
      color: #fff;
    }
  }
  .view-faq-paper-section {
    margin-top: 25px;
    .MuiAccordionSummary-root {
      border-bottom: 1px solid #f5f5f5;
    }
    .MuiAccordionSummary-content.Mui-expanded {
      margin: 12px 0;
    }
    .MuiAccordionSummary-root.Mui-expanded {
      min-height: 42px;
    }
    .question-name {
      margin: 0 0 5px 0;
      font-size: 16px;
      font-weight: 600;
    }
    .question-answer {
      margin: 0;
    }
    .section-heading {
      font-size: 14px;
      font-weight: bold;
    }
    .question-icon-container {
      max-width: 35px;
    }
    .question-container {
      margin-bottom: 15px;
    }
  }
}

.grid-paper {
  box-shadow: none !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.change-password-form {
  .MuiOutlinedInput-input {
    padding: 10px 14px !important;
    &:focus {
      padding: 9px 13px !important;
    }
  }
  .submit-button {
    margin-top: 10px;
    button {
      width: 100% !important;
    }
  }
}

.location-pin-micro-checkbox {
  margin-top: 10px;
}

.covid-state-modal {
  .MuiDialogContent-root {
    height: 80px;
  }
}

.user-list-more-options {
  background: var(--secondary-5f5f5f) 0% 0% no-repeat padding-box !important;
  border-radius: 5px 5px 0px 0px !important;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-size-14)
    var(--unnamed-font-family-proxima-nova) !important;
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--universal-white-ffffff) !important;
  text-align: left;
  opacity: 1;
  ul {
    padding: 0;
    li {
      font: var(--unnamed-font-style-normal) normal normal
        var(--unnamed-font-size-14) / var(--unnamed-line-spacing-24)
        var(--unnamed-font-family-proxima-nova);
      letter-spacing: var(--unnamed-character-spacing-0);
      color: var(--universal-white-ffffff);
      text-align: left;
    }
  }
}

.main-paper-add-question {
  height: calc(100vh - 160px);
  .MuiGrid-container {
    height: 100%;
    .flag-card-dynamic {
      .MuiGrid-item {
        height: auto;
      }
      .dynamic-flag-container {
        margin-bottom: 25px;
      }
    }
  }
  .list-questions {
    box-shadow: none;
    border-radius: 0;
    border-right: 1px solid #f5f5f5;
    height: 100%;
    overflow-y: auto;
    .MuiListItemAvatar-root {
      margin-top: 0;
      min-width: 30px;
      .MuiAvatar-root {
        background: var(--primary-26235d) 0% 0% no-repeat padding-box;
        height: 28px;
        width: 30px;
        font-size: 12px;
        border-radius: 0;
      }
    }
    .MuiList-padding {
      padding: 0;
      .MuiListItem-gutters {
        padding: 10px;
        align-items: center;
      }
    }
    .question-name {
      -webkit-box-orient: vertical;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
      margin-left: 5px;
      margin-top: 0;
      margin-bottom: 0;
      font-size: 12px;
    }
    .MuiListItemText-root {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .add-new-question {
    box-shadow: none;
    border-radius: 0;
    height: 100%;
    overflow-y: auto;
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    .question-type-card {
      // max-width: 300px;
      // min-width: 300px;
      width: 100%;
      box-shadow: none;
      border: 1px solid #f5f5f5;
      border-radius: 2px;
      .MuiCardContent-root {
        padding: 0;
      }
      .MuiTypography-gutterBottom {
        border-bottom: 1px solid #f5f5f5;
        padding: 8px;
        font-size: 16px;
      }
      .card-form {
        padding: 10px;
      }
      .question-actions {
        float: right;
        margin-top: -5px;
        button {
          min-width: 20px;
          border-radius: 2px;
          margin: 5px 8px;
          height: 26px;
          min-height: 25px;
          width: 20px;
          padding: 6px 13px;
          .MuiButton-startIcon {
            margin: 0;
            .MuiSvgIcon-root {
              font-size: 13px;
              color: #fff;
            }
          }
        }
        .view-icon {
          background: var(--primary-26235d) 0% 0% no-repeat padding-box;
        }
        .edit-icon {
          background: var(--info-17a2b8) 0% 0% no-repeat padding-box;
        }
        .delete-icon {
          background: var(--danger-de1b54) 0% 0% no-repeat padding-box;
        }
      }
    }
    .question-card {
      width: 100%;
      box-shadow: none;
      border: 1px solid #f5f5f5;
      border-radius: 2px;
      .MuiCardContent-root {
        padding: 0;
      }
      .MuiTypography-gutterBottom {
        border-bottom: 1px solid #f5f5f5;
        padding: 8px;
        font-size: 16px;
      }
      .card-form {
        padding: 10px;
      }
      .MuiInputBase-input {
        height: 19px;
      }
      .MuiOutlinedInput-inputMultiline {
        height: 48px;
      }
    }
    .question-card-choice-flag {
      margin-top: 15px;
    }
    .action-container {
      display: inline-flex !important;
      justify-content: flex-end;
      width: 100%;
      border-top: 1px solid #f5f5f5;
    }
    .center-align {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
    }
    .global-form {
      width: 100%;
    }
    .question-flags {
      border-top: 1px solid #f5f5f5;
      padding: 0 10px;
      .flag-card {
        width: 100%;
        box-shadow: none;
        border: 1px solid #f5f5f5;
        border-radius: 2px;
        padding: 10px;
        height: 100%;
        .range-input {
          .MuiFormControl-root {
            margin-bottom: 15px;
          }
        }
      }
      .flag-card-dynamic {
        display: inline-block;
      }
      .chip-input {
        .MuiOutlinedInput-root {
          padding-top: 0 !important;
          padding-left: 0;
        }
      }
      .flag-container {
        padding: 10px 0;
        .arrow-container {
          display: inline-flex;
          justify-content: center;
          margin: 10px 0;
        }
      }
    }
    .question-details {
      padding: 10px;
      width: 100%;
    }
    .add-question-speeddial {
      position: absolute;
      right: 25px;
      bottom: 25px;
      .MuiFab-root {
        width: 40px;
        height: 40px;
        background: transparent
          linear-gradient(180deg, #7be495 0%, #329d9c 100%) 0% 0% no-repeat
          padding-box !important;
      }
    }
    .scrollable-card {
      min-height: calc(100vh - 240px);
      height: calc(100vh - 240px);
      overflow-y: auto;
    }
    .scrollable-card-choices {
      min-height: calc(100vh - 350px);
      overflow-y: initial !important;
      height: auto;
    }
    .scrollable-card-actions {
      min-height: calc(100vh - 214px);
      height: calc(100vh - 214px);
      overflow-y: auto !important;
    }
  }
  .list-questions-container {
    height: 100%;
  }
}

.m-top-10 {
  margin-top: 10px !important;
}

.square-icon-save {
  background: var(--primary-26235d) 0% 0% no-repeat padding-box !important;
  min-width: 20px !important;
  border-radius: 2px !important;
  margin: 5px 8px !important;
  height: 26px !important;
  min-height: 25px !important;
  width: 20px !important;
  padding: 6px 13px !important;
  .MuiButton-startIcon {
    margin: 0 !important;
    .MuiSvgIcon-root {
      font-size: 13px !important;
      color: #fff !important;
    }
  }
}

.flag-card-dynamic-choices {
  box-shadow: none !important;
  padding: 5px 15px;
}

.flag-details-table {
  border: 1px solid #ccc;
  .MuiTableCell-root {
    padding: 8px;
  }
}

.question_choices_list {
  padding-left: 0;
  margin-top: 0;
  list-style: none;
  counter-reset: item;
  li {
    counter-increment: item;
    margin-bottom: 5px;
  }
  li:before {
    margin-right: 10px;
    content: counter(item);
    background: var(--info-17a2b8) 0% 0% no-repeat padding-box;
    border-radius: 100%;
    color: white;
    width: 20px;
    height: 20px;
    display: inline-flex;
    font-size: 12px;
    align-items: center;
    justify-content: center;
  }
}

.jump-form-content {
  padding: 25px 10px;
}

.center-align-w-padding-v {
  display: inline-flex;
  align-items: center;
}

.center-align-full-height {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.full-height {
  height: 100%;
}

.auto-height-card {
  .MuiGrid-container {
    height: auto;
  }
  .MuiGrid-item {
    height: auto i !important;
  }
}

.answer-logic-container {
  margin-bottom: 15px !important;
}

.checkbox-grid {
  .MuiCheckbox-root {
    padding: 9px 0;
  }
}

.global-input-outlined {
  .MuiInputLabel-outlined {
    z-index: 1;
    transform: translate(14px, 14px) scale(1);
    pointer-events: none;
    font-size: 12px;
  }
  .MuiInputLabel-outlined.MuiInputLabel-shrink {
    transform: translate(14px, -5px) scale(0.75);
    background-color: #fff;
    font-size: 14px;
    padding: 0 5px;
  }
}

.date-time-pickers {
  .MuiInput-underline:before {
    border: none;
  }
  .MuiInput-underline:after {
    border: none;
  }
  .MuiInput-underline:hover:not(.Mui-disabled)::before {
    border-bottom: none;
  }
  label + .MuiInput-formControl {
    margin-top: 5px;
  }
  .MuiInputLabel-shrink {
    transform: translate(0, 6px) scale(0.75);
    transform-origin: top left;
    background-color: #fff;
    padding: 0 5px;
    margin-left: 5px;
  }
  .MuiInputBase-input {
    padding: 6px 0 7px 10px;
    font-size: 14px;
  }
  .MuiInputBase-input:focus {
    border: none !important;
    padding: 6px 10px !important;
  }
  .MuiInputLabel-formControl {
    top: -12px;
    left: 10px;
    font-size: 14px;
  }
  .MuiIconButton-root {
    padding: 5px;
  }
  .MuiSvgIcon-root {
    width: 20px;
    height: 20px;
  }
  .MuiInputAdornment-root {
    margin-bottom: -1px !important;
  }
  .MuiInputBase-input:focus .MuiInputAdornment-root {
    margin-bottom: -5px !important;
  }
}

.title-padding {
  padding: 25px;
}

.search-list-input {
  padding: 0 !important;
  .MuiOutlinedInput-root {
    border-radius: 0;
  }
  .MuiOutlinedInput-input {
    padding: 10px !important;
    height: 25px;
    font-size: 14px;
  }
  .MuiOutlinedInput-notchedOutline {
    border-color: transparent;
    border-bottom: 1px solid #ccc;
  }
  .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: transparent;
    border-bottom: 1px solid #ccc;
  }
  .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: transparent;
    border-bottom: 1px solid #ccc;
  }
  .MuiOutlinedInput-adornedStart {
    padding-left: 10px;
  }
  .MuiInputAdornment-positionStart {
    margin-right: 0px;
  }
}

.order-change {
  .MuiAvatar-root {
    background: var(--primary-26235d) 0% 0% no-repeat padding-box;
    height: 28px;
    width: 30px;
    font-size: 12px;
    border-radius: 0;
  }
  .MuiListItem-root {
    border-bottom: 1px solid #ccc;
    cursor: move;
    .MuiGrid-container {
      align-items: center;
    }
  }
  .question-name {
    margin-left: 15px !important;
  }
  .question-container-full {
    display: inline-flex;
    align-items: center;
    width: 100%;
  }
}

.search-form-top-paper {
  border-radius: 0 !important;
  margin-bottom: 25px;
  box-shadow: none !important;
  border: 1px solid #ccc;
  padding: 15px;
}

.conditional-order-li {
  background-color: #f7d6d3;
}

.question-container-full .viewlist {
  margin-left: auto !important;
}

.queslist {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}

.viewlist {
  height: 20px !important;
  width: 20px !important;
  cursor: pointer !important;
  .MuiSvgIcon-root {
    height: 15px;
    width: 15px;
  }
}

.sublist {
  padding-left: 45px !important;
  background-color: #fff !important;
  margin-top: 10px !important;
  flex-direction: column;
  align-items: flex-start !important;
}

.add-activity-section {
  margin: 0 0 15px 0 !important;
  width: 100% !important;
  justify-content: flex-end;
  .MuiGrid-item {
    padding: 0 !important;
  }
}

.modal-min-widtn {
  .MuiDialog-paper {
    min-width: 600px;
  }
}

.actionlistitems {
  .already-saved {
    font-size: 20px;
    color: #3f51b5;
    margin-left: 3px;
  }
  .already-configured {
    font-size: 20px;
    color: #be1d56;
    margin-left: 3px;
  }
}

.action-details-table {
  border-collapse: inherit !important;
  border-bottom: none !important;
}

.select-action {
  height: calc(100vh - 160px) !important;
  margin: 0 !important;
  align-items: center !important;
  display: inline-flex !important;
  color: #c41c56;
  font-size: 20px;
}

.nested-table-accordion {
  display: inline-block !important;
  width: 100% !important;
  .empty-cell {
    max-width: 50px;
    width: 50px;
  }
  .nested-inner-table-box-margin {
    margin: 8px 8px 8px 50px;
    table {
      border: 1px solid #ccc;
    }
  }
}
